policy_module(qbittorrent, 1.0.0)

# SPDX-FileCopyrightText 2025 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

########################################
#
# Declarations
#

attribute_role qbittorrent_roles;
roleattribute object_r qbittorrent_roles;

type qbittorrent_t;
type qbittorrent_exec_t;
domain_type(qbittorrent_t, qbittorrent_exec_t)
application_domain(qbittorrent_t, qbittorrent_exec_t)

role qbittorrent_roles types qbittorrent_t;

optional_policy(`
	gen_require(`
		type unconfined_t;
		type init_t;
		attribute trivalent_domain;
		role unconfined_r;
	')

	qbittorrent_run(unconfined_t, unconfined_r)
	qbittorrent_run(trivalent_domain, unconfined_r)
	qbittorrent_run(init_t, system_r)
')

gen_require(`
	type cache_home_t;
')

gnome_manage_home_config(qbittorrent_t)
gnome_manage_home_config_dirs(qbittorrent_t)
gnome_manage_data(qbittorrent_t)
files_manage_generic_tmp_dirs(qbittorrent_t)
container_manage_dirs(qbittorrent_t)
container_manage_files(qbittorrent_t)
dev_read_sysfs(qbittorrent_t)
corenet_tcp_bind_generic_node(qbittorrent_t)
corenet_udp_bind_generic_node(qbittorrent_t)
manage_sock_files_pattern(qbittorrent_t, cache_home_t, cache_home_t)
miscfiles_read_all_certs(qbittorrent_t)
logging_write_syslog_pid_socket(qbittorrent_t)