## <summary>qbittorrent file manager</summary>

# SPDX-FileCopyrightText 2025 The Secureblue Authors
#
# SPDX-License-Identifier: Apache-2.0 OR MIT


########################################
## <summary>
##	Execute qbittorrent in the qbittorrent domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`qbittorrent_domtrans',`
	gen_require(`
		type qbittorrent_t, qbittorrent_exec_t;
	')

	domtrans_pattern($1, qbittorrent_exec_t, qbittorrent_t)
')


########################################
## <summary>
##	Execute qbittorrent in the qbittorrent domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
#
interface(`qbittorrent_run',`
	gen_require(`
		type qbittorrent_t;
        attribute_role qbittorrent_roles;
	')

	qbittorrent_domtrans($1)
	roleattribute $2 qbittorrent_roles;
')